.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;

  .projetos {
    width: 80%;
    height: 100%;
    margin-left: 16rem;
    padding: 30px;

    @media (max-width: 1024px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 70px 0;
    }

    @media (max-width: 425px) {
      padding: 20px 10px;
    }

    .projetos__title {
      width: 100%;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 425px) {
        text-align: center;
      }
      h1 {
        font-size: 32px;
        font-weight: 600;
        color: var(--secondary-grey-900);
      }

      .stats {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        margin: 0 auto;

        .projetos__ativos,
        .projetos__finalizados,
        .voluntario__ativos {
          min-width: 250px;
          height: 80px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          border-radius: 10px;
          background: var(--background-color);
          box-shadow: var(--shadow-5);
          padding: 0 10px;

          @media (min-width: 1024px) {
            gap: 10px;
          }

          .text {
            p {
              color: var(--secondary-primary-white);
            }
            span {
              color: var(--secondary-grey-400);
            }
          }
          .icon {
            width: 35px;
            height: 35px;
            color: var(--secondary-primary-white);
          }
        }
      }
    }

    .container__table {
      width: 100%;
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      @media (max-width: 425px) {
        padding: 20px 0;
      }

      .container__table_header {
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        flex-wrap: wrap;

        @media (max-width: 1095px) {
          justify-content: center;
        }
        .search {
          min-width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          input {
            width: 300px;
            height: 50px;
            border: 0.5px solid #dddddd;
            background-color: var(--secondary-primary-white);
            padding: 0 10px;
            border-radius: 5px;
            outline: none;
          }

          .container__criar_projeto {
            width: 60px;
            height: 50px;

            .buttonCriarProjeto {
              width: 60px;
              height: 100%;
              border-radius: 5px;
              background: var(--background-color);
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              
              .icon {
                color: var(--secondary-primary-white);
              }
            }
          }
        }
        .container__tags {
          min-width: 40%;
          min-height: 70px;

          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 20px;
          flex-wrap: wrap;

          @media (max-width: 570px) {
            justify-content: center;
          }

          .button {
            width: 120px;
            height: 50px;
            font-weight: 600;
            border: 0.5px solid #868cff;
            color: #7077fd;
            border-radius: 5px;
            cursor: pointer;
          }
          .active {
            color: var(--secondary-primary-white);
            cursor: pointer;
            background: var(--background-color);
          }
          .disable {
            color: #868cff;
            background-color: var(--secondary-primary-white);
          }
        }
      }
      .container__table_body {
        width: 100%;
        min-height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 20px;

        @media (max-width: 425px) {
          padding: 0;
        }

        .card {
          width: 550px;
          min-height: 250px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          border-radius: 10px;
          border: 0.5px solid #d6d6d6;
          padding: 20px;
          box-shadow: var(--shadow-5);
          cursor: pointer;

          .card__title {
            width: 100%;
            min-height: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card__title_tag {
              min-width: 80px;
              max-width: 120px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 15px;
              background-color: #fcfcfd;
              color: var(--primary-purple-blue-900);
              font-weight: 500;
              border: 0.5px solid #d6d6d6;
              box-shadow: --shadow-5;
              padding: 0 10px;

              p {
                font-size: 16px;
              }
              @media (max-width: 425px) {
                width: 300px;
                height: 25px;
                p {
                  font-size: 10px;
                }
              }
            }

            h1 {
              font-size: 1.3rem;
              color: var(--primary-purple-blue-900);
              font-weight: bold;

              @media (max-width: 425px) {
                font-size: 1.1em;
              }
            }
          }
          .card__descricao {
            width: 100%;
            min-height: 40px;

            p {
              color: #7c7c7c;

              @media (max-width: 425px) {
                font-size: 12px;
              }
            }
          }
          .card__location,
          .card__telefone {
            width: 100%;
            min-height: 40px;
            display: flex;
            gap: 10px;
            color: #7c7c7c;

            p {
              @media (max-width: 425px) {
                font-size: 12px;
              }
            }
          }

          .habilidades {
            width: 100%;
            min-height: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .badge {
              min-width: 100px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 15px;
              padding: 10px;
              background: var(--primary-purple-blue-900);
              color: var(--secondary-primary-white);
              font-weight: 500;
              font-size: 12px;
              box-shadow: --shadow-5;

              @media (max-width: 425px) {
                min-width: 80px;
                height: 25px;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      .container__table_footer {
        height: 80px;
        @media (max-width: 540px) {
          padding-bottom: 20px;
        }
      }
    }
  }
}
