@import "@/style/global.css";

.main {
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    justify-content: center;
    align-items: center;
  }

  .actionButton {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    
    .icon {
      color: #4b4b4b;
    }
  }
  .title {
    width: 100%;
    min-height: 40px;
    display: flex;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
    @media (max-width: 1024px) {
      align-items: center;
      justify-content: center;
    }
  }
  .container__form {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .form {
      width: 500px;
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--secondary-primary-white);
      box-shadow: var(--shadow-10);
      padding: 20px;

      @media (max-width: 575px) {
        max-width: 425px;
      }

      @media (max-width: 450px) {
        max-width: 320px;
      }

      .form__header {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h1 {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .form__body {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;

        label {
          font-weight: 500;
          color: #585858;

          @media (max-width: 520px) {
            font-size: 14px;
          }
        }

        .name,
        .description,
        .location {
          width: 100%;
          min-height: 50px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border-radius: 5px;
            border: 0.5px solid #ebebeb;
            outline: none;
          }
        }

        .habilities {
          width: 100%;
          min-height: 50px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .description {
          textarea {
            min-height: 40px;
            padding: 10px;
            border-radius: 5px;
            border: 0.5px solid #ebebeb;
            outline: none;
          }
        }
        .date__time {
          width: 100%;
          min-height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          .date,
          .time {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
          @media (max-width: 475px) {
            flex-direction: column;
            gap: 10px;
          }
        }
      }
      .form__footer {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media (max-width: 425px) {
          justify-content: center;
        }

        .button {
          width: 45%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-weight: 600;
          padding: 10px;
          border-radius: 5px;
          box-shadow: var(--shadow-5);
          color: var(--secondary-primary-white);
        }

        .buttonCancel {
          background-color: #ff0000;
        }

        .buttonSave {
          background-color: #2bff00;
        }
      }
    }

    .container__list {
      width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      @media (max-width: 575px) {
        max-width: 425px;
      }

      @media (max-width: 450px) {
        max-width: 320px;
      }

      .list__voluntarios_selecionados,
      .list__voluntarios_compativeis {
        width: 100%;
        max-height: 350px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        background-color: var(--secondary-primary-white);
        box-shadow: var(--shadow-10);
        border-radius: 10px;

        .list__header {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            font-size: 18px;
            font-weight: 600;
          }
        }

        .list__body {
          width: 100%;
          max-height: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          overflow-y: auto;

          .card {
            width: 100%;
            max-height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            background-color: #f9f9f9;
            border: 0.5px solid #e7e7e7;
            border-radius: 10px;
            padding: 10px 20px;

            .card__header {
              width: 100%;
              height: 20px;
              display: flex;
              justify-content: space-between;
              h1 {
                font-weight: 600;
                color: var(--primary-purple-blue-900);
              }
              p {
                font-size: 14px;
                cursor: pointer;
              }
              .removerButton {
                color: #ff0000;
              }
              .convidarButton {
                color: var(--primary-purple-blue-900);
              }

              @media (max-width: 425px) {
                h1 {
                  font-size: 14px;
                }
              }
            }
            .card__body {
              width: 100%;
              max-height: 100px;
              display: flex;
              flex-direction: column;
              gap: 10px;

              .card__habilities {
                width: 100%;
                min-height: 50px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                  color: #585858;
                }
              }
              .habilities {
                width: 100%;
                height: 90%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .badge {
                  min-width: 80px;
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 15px;
                  padding: 5px;
                  background: var(--background-color);
                  color: var(--secondary-primary-white);
                  font-weight: 500;
                  font-size: 12px;
                  box-shadow: --shadow-5;

                  @media (max-width: 520px) {
                    min-width: 70px;
                    height: 25px;
                    span {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
            .card__footer {
              width: 100%;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;

              .buttonConvidar {
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                color: var(--secondary-primary-white);
                background: var(--background-color);

                .icon {
                  color: var(--secondary-primary-white);
                }

                @media (max-width: 425px) {
                  font-size: 12px;
                  .icon {
                    width: 10px;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
