@import "@/style/global.css";

.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfd;

  .dashboard {
    width: 80%;
    height: 100%;
    margin-left: 16rem;
    padding: 30px;
    @media (max-width: 1024px) {
      margin: 70px 0;
      width: 100%;
    }

    @media (max-width: 768px) {
      padding: 10px;
    }

    @media (max-width: 425px) {
      padding: 5px;
    }

    .dashboard__title {
      width: 100%;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width:425px) {
        text-align: center;
      }
      h1 {
        font-size: 32px;
        font-weight: 600;
        color: var(--secondary-grey-900);
      }

      .stats {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        margin: 0 auto;

        .projetos__ativos,
        .projetos__finalizados,
        .voluntario__ativos {
          width: 250px;
          height: 80px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          border-radius: 10px;
          background: var(--background-color);
          box-shadow: var(--shadow-5);

          @media (min-width: 1024px) {
            gap: 10px;
          }

          .text {
            p {
              color: var(--secondary-primary-white);
            }
            span {
              color: var(--secondary-grey-400);
            }
          }
          .icon {
            width: 35px;
            height: 35px;
            color: var(--secondary-primary-white);
          }
        }
      }
    }

    .dashboard__lista_voluntarios {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      margin: 20px auto;

      .container__voluntario_ativos,
      .container__voluntario_disponiveis {
        width: 650px;
        min-width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: var(--secondary-primary-white);
        box-shadow: var(--shadow-5);

        .title__voluntario {
          width: 100%;
          height: 20px;

          h1 {
            color: var(--secondary-dark-grey-900);
            font-weight: 600;
          }
        }

        .list {
          width: 100%;
          height: 320px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 20px;
          overflow-y: auto;

          .voluntario {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media (max-width: 425px) {
              justify-content: space-between;
            }

            .voluntario__icon {
              width: 10%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              @media (max-width: 425px) {
                display: none;
              }
              .icon {
                width: 20px;
                height: 20px;
                background: var(--background-color);
                border-radius: 50%;
              }
            }

            .voluntario__info {
              width: 50%;
              height: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              p {
                font-weight: 600;
                color: var(--secondary-dark-grey-900);
              }
              span {
                color: var(--secondary-grey-600);
              }
            }
            .voluntario__stats {
              width: 20%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              @media (max-width: 425px) {
                min-width: 30%;
              }
              .tag {
                min-width: 80px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                background-color: #fcfcfd;
                color: var(--primary-purple-blue-900);
                font-weight: 500;
                border: 0.5px solid #d6d6d6;
                box-shadow: --shadow-5;

                p {
                  font-size: 16px;
                }
                @media (max-width: 425px) {
                  max-width: 120px;
                  height: 25px;
                  p {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }

        .container__button {
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          color: var(--primary-purple-blue-500);
          font-weight: 600;

          .icon {
            color: var(--primary-purple-blue-500);
          }
        }
      }
    }

    .dashboard__lista_projetos {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      margin: 20px auto;

      .container__projetos_ativos,
      .container__projetos_finalizados {
        width: 650px;
        min-width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        border-radius: 20px;
        background: var(--background-color);
        box-shadow: var(--shadow-5);

        .title__projetos {
          width: 100%;
          height: 20px;

          h1 {
            color: var(--secondary-primary-white);
            font-weight: 600;
          }
        }

        .list {
          width: 100%;
          height: 320px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 20px;
          overflow-y: auto;

          .projeto {
            width: 100%;
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 425px) {
              justify-content: space-between;
            }
            .projeto__info {
              max-width: 60%;
              min-height: 50px;
              text-align: left;

              p {
                text-align: left;
                font-weight: 600;
                color: var(--secondary-primary-white);
                @media (max-width: 425px) {
                  font-size: 12px;
                }
              }
              span {
                color: var(--secondary-grey-200);
                @media (max-width: 425px) {
                  font-size: 12px;
                }
              }
            }

            .projeto__data {
              text-align: right;

              min-width: 20%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--secondary-primary-white);
              @media (max-width: 425px) {
                font-size: 10px;
              }
            }
          }
        }

        .container__button {
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          color: var(--secondary-primary-white);
          font-weight: 600;
          .icon {
            color: var(--secondary-primary-white);
          }
        }
      }
    }
  }
}
