# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true

# 2 espaços de identação
[*{.css,.js,.jsx}]
indent_style = space
indent_size = 2

# 2 espaços de identação
[*.php]
indent_style = space
indent_size = 4
