.formWrapper {
  max-width: 400px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #1e1e1e;
  margin: 0;
}

.progress {
  font-weight: 600;
  color: #190793;
}

.subtitle {
  color: #190793;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
}

.inputGroup input::placeholder {
  color: #a0a0a0; 
}

.switchContainer {
  display: flex;
  margin-bottom: 2rem;
  background-color: #e0e0e0;
  align-content: space-between;
  border-radius: 6px; 
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.637); 
  width:200px;
  height: 30px;
}


.switchButton {
  flex: 1;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  color: #555;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.1s ease;
}


.switchButton.active {
  background-color: #190793;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.backArrow {
  font-size: 2rem;
  color: #6A5AF9;
  cursor: pointer;
  margin-right: 1rem;
}


.header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #a0a0a0;
  font-size: 1.2rem;
}

.inputGroup input {
  width: 100%;
  padding: 15px 15px 15px 50px; 
  border: none;
  background-color: #f3f4f6; 
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box; 
  color: #1e1e1e; 
  outline: none;
}

.inputGroup input:focus {
  color: #1e1e1e; 
}

.loginLink {
  font-size: 0.9rem;
  color: #555;
}

.loginLink a {
  color: #190793;
  font-weight: 600;
  text-decoration: none;
}

.loginAndSubmit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.submitButton {
  background-color: #190793;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submitButton:hover {
  background-color: #4a3aff;
}