@import "@/style/global.css";

.container__table {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 10px;

  .container__table_header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;

    @media (max-width: 900px){
        justify-content: center;
    }
    .search{
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        input{
            width: 300px;
            height: 50px;
            border: .5px solid #DDDDDD;
            background-color: var(--secondary-primary-white);
            padding: 0 10px;
            border-radius: 5px;
            outline: none;
        }
    }
    .container__tags {
      min-width: 40%;
      min-height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      .button {
        width: 100px;
        height: 50px;
        font-weight: 600;
        border-radius: 5px;
      }
      .active {
        color: var(--secondary-primary-white);
        background-color: var(--primary-purple-blue-900);
      }

      .disable {
        color: var(--primary-purple-blue-900);
        border: 0.5px solid var(--primary-purple-blue-900);
        background-color: var(--secondary-primary-white);
      }
    }
  }

  .container__table_body{
    width: 100%;
    height: 425px;
    background-color: blue;
  }

}
