@import "@/style/global.css";

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.modal__header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.modal__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 20px;
}

.modal__body p {
  font-weight: 500;
  color: #585858;
}

.about,
.card__habilities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.habilities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  min-width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  background: var(--background-color);
  color: var(--secondary-primary-white);
  font-weight: 500;
  font-size: 12px;
  box-shadow: var(--shadow-5);

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.location__phone {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.location,
.phone {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.project__header .icon {
  width: 25px;
  height: 25px;
  color: #585858;
}

.project__body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: #f9f9f9;
  border: 0.5px solid #e7e7e7;
  border-radius: 10px;
  padding: 15px;
}

.card__header {
  width: 100%;
}

.card__header h1 {
  font-weight: 600;
  color: var(--primary-purple-blue-900);
}

.card__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.description {
  width: 100%;
}

.description p {
  width: 100%;
  word-break: break-word;
  white-space: normal;
  color: #585858;
}

.date__hour {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.date__hour .icon {
  width: 20px;
  height: 20px;
  color: #585858;
}

.date__hour p {
  color: #585858;
}

.card__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.buttonConvidar {
  width: auto;
  height: auto;
  padding: 8px 16px;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: var(--secondary-primary-white);
  background: var(--background-color);
  border: none;
  cursor: pointer;
}

.buttonConvidar .icon {
  color: var(--secondary-primary-white);
}

@media (max-width: 520px) {
  .badge {
    min-width: 80px;
    height: 25px;
    font-size: 10px;
  }
  .location__phone {
    flex-direction: column;
    gap: 1rem;
  }
  .location,
  .phone {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .modal__body p {
    font-size: 12px;
  }
  .modal__body span {
    font-size: 10px;
  }
  .card__header h1 {
    font-size: 14px;
  }
  .buttonConvidar {
    font-size: 12px;
  }
  .buttonConvidar .icon {
    width: 10px;
    height: 10px;
  }
}
