@import '@/style/global.css';

main{
    min-height: 100vh;
    background-color: #FCFCFD;
}

.container__title{
    width: 80%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    gap: 10px;

    h1{
        font-size: 32px;
        font-weight: bold;
        background: linear-gradient(90deg, #868CFF 0%, #4318FF 100%);
        -webkit-background-clip: text; /* Safari/Chrome */
        background-clip: text;
        -webkit-text-fill-color: transparent; /* Safari/Chrome */
        color: transparent; /* fallback */
        /* opcional: melhora contraste em alguns navegadores */
        display: inline-block;
    }

    p{
        color: #7C7C7C;
        font-size: 18px;
    }

    .button__newProject{
        min-width: 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 5px;
        color: var(--secondary-primary-white);
        font-weight: 600;
        background: var(--background-color);
    }
}

.container__table{
    width: 100%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .container__table_header{
        width: 50%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        margin: 0 auto;
        border-radius: 10px;
        border: .5px solid #D6D6D6;
        background-color: var(--secondary-primary-white);
        
        p{
            color: var(--color-blue-900);
            font-weight: 600;
            font-size: 18px;
            margin: 0 auto;
        }
        .input__search{
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            gap: 10px;

            .icon{
                color: #8D8D8D;
            }
            
            input{
            width: 100%;
            height: 35px;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            border: 0.5px solid #D6D6D6;
            position: relative;
            }
        }
    }

    .container__table_body{
        width: 100%;
        min-height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 20px;

        .card{
            width: 500px;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 10px;
            box-shadow: var(--shadow-5);
        }
    }
}