@import "@/style/global.css";

main {
  min-height: 100vh;
  position: relative;
  background-color: #fcfcfd;
}

.container__title {
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  gap: 10px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90deg, #868cff 0%, #4318ff 100%);
    -webkit-background-clip: text; /* Safari/Chrome */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari/Chrome */
    color: transparent; /* fallback */
    /* opcional: melhora contraste em alguns navegadores */
    display: inline-block;
  }

  p {
    color: #7c7c7c;
    font-size: 18px;
  }

  .button__newProject {
    min-width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--secondary-primary-white);
    font-weight: 600;
    background: var(--background-color);

    @media (max-width: 768px) {
      width: 60%;
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

.container__table {
  width: 100%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .container__table_header {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      justify-content: center;
    }
    .search {
      min-width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input {
        width: 300px;
        height: 50px;
        border: 0.5px solid #dddddd;
        background-color: var(--secondary-primary-white);
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
      }
    }
    .container__tags {
      min-width: 40%;
      min-height: 70px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      @media (max-width: 660px) {
        justify-content: center;
      }

      .button {
        width: 100px;
        height: 50px;
        font-weight: 600;
        border: 0.5px solid #868cff;
        color: #7077fd;
        border-radius: 5px;
        cursor: pointer;
      }
      .active {
        color: var(--secondary-primary-white);
        cursor: pointer;
        background: var(--background-color);
      }
      .disable {
        color: #868cff;
        background-color: var(--secondary-primary-white);
      }
    }
  }
  .container__table_body {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 20px;

    .card {
      width: 550px;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 10px;
      border: 0.5px solid #d6d6d6;
      padding: 20px;
      box-shadow: var(--shadow-5);
      cursor: pointer;

      .card__title {
        width: 100%;
        min-height: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card__title_tag {
          min-width: 80px;
          max-width: 100px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #fcfcfd;
          color: var(--primary-purple-blue-900);
          font-weight: 500;
          border: 0.5px solid #d6d6d6;
          box-shadow: --shadow-5;

          p {
            font-size: 16px;
            text-transform: capitalize;
          }
          @media (max-width: 425px) {
            width: 80px;
            height: 25px;
            p {
              font-size: 10px;
            }
          }
        }

        h1 {
          font-size: 1.3rem;
          color: var(--primary-purple-blue-900);
          font-weight: bold;

          @media (max-width: 425px) {
            font-size: 1.1em;
          }
        }
      }
      .card__descricao {
        width: 100%;
        min-height: 40px;

        p {
          color: #7c7c7c;

          @media (max-width: 425px) {
            font-size: 12px;
          }
        }
      }
      .card__location {
        width: 100%;
        min-height: 40px;
        display: flex;
        gap: 10px;
        color: #7c7c7c;
      }

      .habilidades {
        width: 100%;
        min-height: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .badge {
          min-width: 100px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          padding: 10px;
          background: var(--primary-purple-blue-900);
          color: var(--secondary-primary-white);
          font-weight: 500;
          font-size: 12px;
          box-shadow: --shadow-5;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          @media (max-width: 425px) {
            min-width: 80px;
            height: 25px;
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .container__table_footer {
    min-height: 100px;
    @media (max-width: 540px) {
      padding-bottom: 20px;
    }
  }
}
